/.phpunit.cache
/.vscode
/.idea
/.nova
/.zed
/.cursor/
/.codex
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/vendor
/storage/*.key
/storage/pail
/storage/logs/*.log
.env
.env.*
!.env.example
.phpactor.json
.phpunit.result.cache
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
auth.json
Homestead.json
Homestead.yaml
*.log
.DS_Store
Thumbs.db
.github/
AGENTS.md